{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.photo.label }}
        {{ form.photo(class="form-control") }}

        {% if form.photo.errors %}
            <div class="alert alert-danger">
                {% for error in form.photo.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button type="submit" name="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>

{% endblock %}
